* {
  font-family: 'Merriweather', serif;
  color: #333333;
  background-color: #fefefe;
}

h1 { font-size: 31px; line-height: 37px; margin-bottom: 24px; }
h2 { font-size: 26px; line-height: 31px; margin-bottom: 20px; }
h3 { font-size: 22px; line-height: 26px; margin-bottom: 16px; }
h4 { font-size: 18px; line-height: 22px; margin-bottom: 12px; }
p  { font-size: 15px; line-height: 28px; margin-bottom: 20px; }

p {
  color: #666666;
}

a {
  border-bottom: 1px #cccccc solid;
}

a:hover {
  color: #9999bb;
  border-bottom: 1px #ccccbb solid;
}

.container {
  margin: 24px;
  max-width: 640px;
  /*transition: margin 200ms ease-in;*/
}

.end {
  color: #bbbbbb;
}

@media screen and (min-width: 640px) {
  h1 { font-size: 37px; line-height: 44px; margin-bottom: 24px; }
  h2 { font-size: 31px; line-height: 37px; margin-bottom: 20px; }
  h3 { font-size: 25px; line-height: 31px; margin-bottom: 16px; }
  h4 { font-size: 21px; line-height: 25px; margin-bottom: 12px; }
  p  { font-size: 18px; line-height: 34px; margin-bottom: 20px; }

  .container {
    margin: 80px;
  }
}